.App {
  /* background-color: rgb(248, 209, 215); */
}

header{
  width:100%;
  height: 90px;
  color: rgb(61,61,61);
  text-decoration: none;
  background: linear-gradient(90deg, pink, lavender, purple);
}
header > div {
  max-width: 1000px;
  width:100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  
}
/* 
.App > div {
  font-size: 10px;
}
.App > button {
  background-color: grey;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  height: 50px;
  width: 200px;
}
Image {
  height:100px;
  width: 100px;
}

.genreBox {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  overflow: auto;
} */