.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.App > h1 >a {
  font-size: 40px;
  color: pink;
  text-decoration: none;
  height: 200px;
  width: 100%;
  background-color: lavender;
}
.App > div {
  font-size: 10px;
}
.App > button {
  background-color: lavender;
  height: 50px;
  width: 300px;
}
Image {
  height:100px;
  width: 100px;
}
.displayBox{
  /* height: 500px;
  width: 500px;
  border: 2px solid pink;
  overflow: auto; */
}
.genreBox {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  overflow: auto;
}